/* Header */
header{
    width:100%;
    padding:25px 0;
    display:flex;
    justify-content:center;
}

/* Lista */
#nav_list{
    display:flex;
    list-style:none;
    gap:60px;
}

/* Links */
#nav_list a{
    text-decoration:none;
    font-size:18px;
    color:#84aa86;
    position:relative;
    transition:0.3s;
}

/* Hover */
#nav_list a:hover{
    color:#F48FB1;
}

/* Linha animada */
#nav_list a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-5px;
    width:0%;
    height:2px;
    background:#F48FB1;
    transition:0.3s;
}

#nav_list a:hover::after{
    width:100%;
}

/* RESPONSIVO */

@media (max-width:700px){

    #nav_list{
        flex-direction:column;
        align-items:center;
        gap:20px;
    }

}